@font-face {
  font-family: 'GE SS Text Medium';
  src: url("//db.onlinewebfonts.com/t/1aa61836942eeae31fdf05941ccbf1fd.eot");
  src: url("//db.onlinewebfonts.com/t/1aa61836942eeae31fdf05941ccbf1fd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1aa61836942eeae31fdf05941ccbf1fd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1aa61836942eeae31fdf05941ccbf1fd.woff") format("woff"), url("//db.onlinewebfonts.com/t/1aa61836942eeae31fdf05941ccbf1fd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1aa61836942eeae31fdf05941ccbf1fd.svg#GE SS Text Medium") format("svg");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'GE SS Text Medium';
}

#main-nav {
  background-color: transparent !important;
  z-index: 12;
  position: absolute;
}

#main-nav .search-form {
  width: 250px;
  display: flex;
  align-items: center;
}

#main-nav .search-form .search-text {
  border-radius: 30px;
  padding: 0 50px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

#main-nav .search-form .search-text::placeholder {
  color: #fff;
  font-weight: bold;
}

#main-nav .search-form .btn-search {
  border-radius: 30px;
  border: none;
}

#main-nav .search-form .btn-search:hover {
  background-color: transparent !important;
  cursor: pointer;
}

#main-nav .search-form .btn-search i {
  color: #fff;
}

#main-nav .main-menu {
  margin-right: 50px;
}

#main-nav .main-menu li {
  margin: 0 15px;
  color: #fff;
}

#main-nav .main-menu li a {
  color: #fff;
}

#main-nav .main-menu .active {
  font-weight: bold;
  position: relative;
}

#main-nav .main-menu .active::after {
  content: '';
  position: absolute;
  width: 62px;
  height: 5px;
  display: inline-block;
  background: url("../images/underline.png") no-repeat center center/cover;
}

.hero {
  background: #333 url("../images/hero.png") no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.hero .hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.hero .hero-container .nxt-sec {
  display: flex;
  width: 30px;
  position: absolute;
  height: 70px;
  left: 50%;
  bottom: 7%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.hero .hero-container .nxt-sec p {
  font-weight: bold;
}

.hero .hero-container .nxt-sec img {
  width: 100%;
  height: 100%;
}

.section-title {
  text-align: center;
  position: relative;
  color: #005250;
}

.section-title::before {
  left: 22%;
  position: absolute;
  content: '';
  width: 221px;
  height: 18px;
  background: url(../images/left.png) no-repeat center center/cover;
  top: 20px;
}

.section-title::after {
  right: 22%;
  position: absolute;
  content: '';
  width: 221px;
  height: 18px;
  background: url(../images/right.png) no-repeat center center/cover;
  top: 20px;
}

#aboutus {
  min-height: 550px;
}

#aboutus img {
  width: 100%;
}

#aboutus .about-text {
  background: #005250 url("../images/background.png") no-repeat center center/cover;
}

#aboutus .about-text .content {
  padding: 47px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  color: #fff;
}

#aboutus .about-map {
  padding: 0;
}

.advantages {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.advantages .keys {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 103vw;
}

.advantages .keys .key-1 {
  margin-right: -6%;
  transform: skewX(-20deg);
  width: 35%;
  border-left: 1px solid #000;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #333 url("../images/hero.png") no-repeat center center/cover;
}

.advantages .keys .key-1 img {
  width: 30%;
}

.advantages .keys .key-2 {
  transform: skewX(-20deg);
  width: 20%;
  border-left: 1px solid #000;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #005250;
}

.advantages .keys .key-2 img {
  width: 50%;
}

.advantages .keys .key-3 {
  transform: skewX(-20deg);
  width: 20%;
  border-left: 1px solid #000;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #005250;
}

.advantages .keys .key-3 img {
  width: 50%;
}

.advantages .keys .key-4 {
  transform: skewX(-20deg);
  width: 20%;
  border-left: 1px solid #000;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #005250;
}

.advantages .keys .key-4 img {
  width: 50%;
}

.advantages .keys .key-5 {
  transform: skewX(-20deg);
  width: 19%;
  border-left: 1px solid #000;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #005250;
}

.advantages .keys .key-5 img {
  width: 50%;
}

#planning {
  margin: 80px auto;
}

#planning .planning-container {
  display: flex;
  flex: 1 1;
}

#planning .planning-img {
  width: 50%;
}

#planning .planning-img img {
  width: 100%;
}

#planning .planning-content {
  padding: 0 25px;
  width: 50%;
  background-color: #005250;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#planning .planning-content h2 {
  color: #f7ab63;
  text-align: right;
}

#planning .planning-content_text {
  margin: 30px 0;
}

#planning .planning-content .btn-main {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #f7ab63;
  color: #fff;
  padding: 15px 25px;
  border-radius: 0;
}

.download {
  background-color: #005250;
  max-height: 200px;
}

.download .download-content {
  text-align: center;
  color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.download .download-content img {
  max-width: 100%;
  height: auto;
}

footer {
  background: url("../images/footer-bg.png") no-repeat center center/contain;
  height: 293px;
}

footer .footer-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer .footer-content {
  margin-top: 30px;
  display: flex;
  z-index: 6;
  color: #fff;
}

footer .footer-content ul {
  padding-top: 3px;
}

footer .footer-content ul li {
  list-style: none;
  display: flex;
  margin: 25px auto;
  align-items: baseline;
}

footer .footer-content ul li div {
  padding: 0 10px;
}

footer .footer-content ul li div img {
  width: 80%;
}

footer .footer-title {
  position: relative;
  display: flex;
}

footer .footer-title::after {
  top: 40px;
  content: '';
  position: absolute;
  width: 139px;
  height: 7px;
  display: inline-block;
  background: url("../images/footer-underline.png") no-repeat center center/cover;
}

footer .last-row {
  background-color: #f7ab63;
  color: #fff;
}

footer .last-row .madeby-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .last-row .madeby-items .madeby-item p {
  margin-bottom: 0;
}

footer .last-row .madeby-items .madeby-item ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .last-row .madeby-items .madeby-item img {
  width: 30px;
  height: 30px;
}

.res-footer-logo img {
  display: none;
}

@media screen and (max-width: 414px) {
  #planning .planning-img img {
    min-width: 384px;
    height: auto;
    max-width: 100%;
  }
  #planning .planning-container {
    flex-direction: column;
  }
  #planning .planning-content {
    width: 100%;
  }
  #planning .planning-img {
    width: 100%;
  }
  .download {
    max-height: 100%;
  }
  .section-title::before,
  .section-title::after {
    display: none;
  }
  footer {
    background: #005250;
  }
  footer .footer-content {
    flex-direction: column;
  }
  footer .res-footer {
    background: #005250;
  }
  .res-footer-logo img {
    display: inline-block;
    margin: 55px auto;
  }
  #main-nav {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .navbar-brand img {
    width: 90px;
  }
  .main-menu {
    display: flex;
    align-items: center;
  }
  .navbar-collapse.collapse.show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navbar-collapse.collapse.show ul {
    margin: auto !important;
  }
  .navbar-light .navbar-toggler-icon {
    border: 2px solid #fff !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

#secondary-header {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

#secondary-nav {
  background-color: #fff !important;
}

#secondary-nav .navbar-brand img {
  width: 100px;
}

#secondary-nav .navbar-collapse ul {
  margin-right: 30px;
}

#secondary-nav .navbar-collapse ul li {
  margin: 3px 15px;
}

#secondary-nav .navbar-collapse ul li.active a {
  color: #005250;
  position: relative;
  display: flex;
  justify-content: center;
}

#secondary-nav .navbar-collapse ul li.active a::after {
  position: absolute;
  content: '';
  width: 69px;
  height: 5px;
  top: 35px;
  background: url("../images/secondary-nav.png") no-repeat center center/cover;
}

#secondary-nav .search-form {
  width: 250px;
  display: flex;
  align-items: center;
}

#secondary-nav .search-form .search-text {
  border-radius: 20px;
  padding: 0 40px;
}

#secondary-nav .search-form .search-text::placeholder {
  color: #cbcbcb;
}

#secondary-nav .search-form .btn-search {
  border-radius: 20px;
  border: none;
}

#secondary-nav .search-form .btn-search:hover {
  color: #005250;
  background-color: transparent;
}

#secondary-nav .search-form .btn-search i {
  color: #f7ab63;
}

.planning-hero img {
  width: 100%;
  height: 90%;
}

.planning-hero .search-container {
  display: flex;
  justify-content: center;
}

.planning-hero .search-container .search-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.planning-hero .search-container .input-group {
  display: flex;
  flex-direction: column;
}

.planning-hero .search-container .input-search {
  border-radius: 30px;
  width: 250px;
  border: 1px solid rgba(151, 151, 151, 0.5);
  padding: 5px 20px;
}

.planning-hero .search-container .input-search::placeholder {
  color: rgba(151, 151, 151, 0.5);
}

.planning-hero .search-container .input-search:focus {
  outline: none;
  border: 2px solid #f7ab63;
}

.planning-hero .search-container .lbl-search {
  display: block;
  color: #005250;
  font-size: 1.3rem;
}

.planning-hero .search-container .btn-submit {
  background-color: #f7ab63;
  color: #fff;
  border-radius: 30px;
  width: 50%;
}

.planning-hero .search-items {
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: auto;
}

.planning-hero .search-items_item {
  color: #005250;
  margin: 10px 0;
}

.btn-download {
  background-color: #f7ab63;
  color: #fff;
  border-radius: 25px;
  padding: 7px 30px;
}

.owner {
  background-color: #005250;
  color: #fff;
  height: 200px;
}

.owner img {
  max-height: 130px;
}

.videos {
  height: 600px;
}

.videos .videos-content {
  display: flex;
  width: 950px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.videos .videos-content .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 1;
}

.videos .videos-content .overlay img {
  width: 70px;
  cursor: pointer;
}

.videos video {
  width: 100%;
  border-radius: 15px;
}

.map-2 .map-container {
  max-width: 950px;
  margin: auto;
}

.map-2 img {
  width: 100%;
  height: auto;
}

.map-2 .map-items {
  background-color: #005250;
}

.map-2 .map-items .item {
  width: 100%;
  padding: 0;
  position: relative;
  color: #fff;
}

.map-2 .map-items .item .content {
  width: 350px;
  margin: 50px auto;
}

.map-2 .map-items .item .content h5 {
  padding: 35px 0;
  color: #f7ab63;
}

.map-2 .map-items .item .btn-map {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f7ab63;
  border-radius: 0;
  padding: 10px 25px;
  color: #fff;
}

.planning-gallery {
  position: relative;
  height: 600px;
  max-width: 950px;
  margin: 50px auto;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
  color: #f7ab63;
  font-weight: bold;
}
